{% set status = 'pending' %}
{% if payment and order.status %}
  {% set status = order.status %}
{% endif %}
<div class="element">
    <a class="label payment-status {{ status }}" target="_blank">
        <span class="title">
            {{ status|capitalize }}
        </span>
    </a>
</div>